
/* Begin grid styles */
.row {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center; 
    align-items: flex-start;
    margin: 6% 0;
    -webkit-transition: all 325ms ease-in-out;
    -o-transition: all 325ms ease-in-out;
    transition: all 325ms ease-in-out;
}

.battleArea {
    display:-webkit-box;
    display:flex;
    margin: 5% 0;
}

.col {
    -webkit-animation-duration: .6s;
            animation-duration: .6s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-name: rowToCol;
            animation-name: rowToCol;
            justify-content: baseline; 
}

.column {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center;
    padding: 1.5%;
    width: 14vw;
    margin-right: 3%;
    margin-top: 8%;
}

.column:nth-of-type(2) {
    width: 18vw;
}

@-webkit-keyframes rowToCol {
    0%      { 
            -webkit-box-orient: horizontal; 
            -webkit-box-direction: normal; 
                    flex-direction: row;
            width:100%;
            -webkit-box-align: start;
                    align-items: flex-start;
    }
    100%      { 
            -webkit-box-orient: vertical; 
            -webkit-box-direction: normal; 
                    flex-direction: column;
            -webkit-box-align: center;
                    align-items: center;
            width: 33.33%;
    }
}

@keyframes rowToCol {
    0%      { 
            -webkit-box-orient: horizontal; 
            -webkit-box-direction: normal;  
                    flex-direction: row;
            width:100%;
            -webkit-box-align: start;
                    align-items: flex-start;
    }
    100%      { 
            -webkit-box-orient: vertical; 
            -webkit-box-direction: normal; 
                    flex-direction: column;
            -webkit-box-align: center;
                    align-items: center;
            width: 33.33%;
    }
}

/* Post animated transition, the .col class is removed and this is added. */
.colFinalState {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center;
    width: 33.33%;
    margin: 0;
}
/* End grid styles */


/* Begin button styles */
.btn {
    width: 80%;
    margin-top: 10%;
    border: black 3px solid;
    -webkit-box-shadow: 2px 1px black;
            box-shadow: 2px 1px black; 
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1.3vw;
    letter-spacing: 0.05em;
    color: #000;
    background-image: -o-linear-gradient(45deg, #000 50%, transparent 50%);
    background-image: linear-gradient(45deg, #000 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    background-color: rgb(255,237,51);
}

.btn:focus {
    outline: none;
}

.btn:hover {
  background-position: 0;
  color: rgb(255,237,51);
  cursor: pointer;
}

.btnAppear {
    -webkit-animation-duration: .3s;
            animation-duration: .3s;
    -webkit-animation-name: btnAppear;
            animation-name: btnAppear;
}

.battleBtnAppear {
    -webkit-animation-duration: .5s;
            animation-duration: .5s;
    -webkit-animation-name: battleBtnAppear;
            animation-name: battleBtnAppear;
}

.battleBtnAppearTwo {
    -webkit-animation-duration: .3s;
            animation-duration: .3s;
    -webkit-animation-name: battleBtnAppearTwo;
            animation-name: battleBtnAppearTwo;
}

.btnDisappear {
    -webkit-animation-duration: .6s;
            animation-duration: .6s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-name: btnDisappear;
            animation-name: btnDisappear;
}

.battleBtn {
    width: 12%;
    position: absolute;
    top: 18vw;
}

.battleBtnTwo {
    width: 16%;
    position: absolute;
    top: 18vw;
}

.hiddenBtn {
    width: 0px;
    height: 0px;
    padding: 0;
    font-size: 0;
    margin-top: 10%;
    border: none;
    display: none;
    -webkit-box-shadow: none;
            box-shadow: none;
}

@-webkit-keyframes btnDisappear {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}

@keyframes btnDisappear {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}

.appear {
    -webkit-animation-duration: .5s;
            animation-duration: .5s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-name: appear;
            animation-name: appear;
}

@-webkit-keyframes appear {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }

}

@keyframes appear {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }

}

.top {
    top: 12vw;
}

/* used to attach the hover effect to all site buttons */
.animate {
    -webkit-transition: all 325ms ease-in-out;
    -o-transition: all 325ms ease-in-out;
    transition: all 325ms ease-in-out;
}
/* End button styles */


@media only screen and (max-width: 700px) {

    .battleBtn {
       top: 35vw;
       width: 25%;
    }

    .battleBtnTwo:nth-of-type(2) {
        width: 27%;
        margin-top: 24%;
    }

    .battleBtnTwo:nth-of-type(1) {
        width: 27%;
        margin-top: 44%;
    }
    .column {
        width: 20vw;
        margin-right: 7%;
    }
    .column button {
        width: 100%;
    }

    .btn {
        margin-top: 15%;
        font-size: 2.3vw;
    }

    button {
        height: 6vw;
    }

    .row {
        margin: 12% 0;
    }


}